/* style.css */
/* This file serves as the "base" */
:root {
    --bg-dark: #28283d;
    --bg-light: #8383c9;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.game-container {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.game-container>canvas {
    border-radius: 5px;
    /* flex-basis: auto; */
    /* height: 100vh; */
}