/* style.css */
/* This file serves as the "base" */
:root {
    --bg-primary: #28283d;
    --tx-primary: #8383c9;
}

html {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}